@import "../mixins";

.container {
  overflow: hidden;

  @include media("sm") {
    width: 100vw;
    margin-left: calc((0px - 100vw + 508px) / 2);
  }

  @include media("md") {
    width: 100vw;
    margin-left: calc((0px - 100vw + 688px) / 2);
  }

  @include media("lg") {
    width: 100vw;
    margin-left: calc((0px - 100vw + 769px) / 2);
  }

  @include media("xl") {
    width: 100%;
    margin-left: 0;
    overflow: visible;
  }
}

%customArrow {
  display: none;
  background: var(--black);
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s opacity;

  &:hover,
  &:focus {
    opacity: 1;
    transition: 0.3s opacity;
  }

  @include media("sm") {
    display: block;
  }
}

.prevArrow {
  @extend %customArrow;
  left: 26px;
  transform: translateY(-50%);
}

.nextArrow {
  @extend %customArrow;
  right: 26px;
  transform: translateY(-50%) rotate(180deg);
}
