@use "../mixins";

.title {
  position: sticky;
  top: 3rem;
  z-index: 1;

  @include mixins.media("sm") {
    top: 4rem;
  }

  @include mixins.media("lg") {
    top: 5rem;
    margin-left: -2rem;
  }
}

.lineStart,
.lineEnd {
  flex-grow: 1;
  height: 1px;
  background: var(--bodyColor);
}

.lineStart {
  margin-right: 1rem;
}

.lineEnd {
  margin-left: 1rem;
}
