@use "../mixins";

.title {
  position: sticky;
  top: 5rem;
  padding: 0 1.5rem;
  z-index: 1;

  @include mixins.media("lg") {
    top: 6rem;
  }
}

.lineStart,
.lineEnd {
  flex-grow: 1;
  height: 1px;
  background: var(--bodyColor);
}

.lineStart {
  margin-right: 1rem;
}

.lineEnd {
  margin-left: 1rem;
}
