@import "../mixins";

.title {
  position: sticky;
  top: 5rem;
  z-index: 1;

  @include media("lg") {
    margin-left: -2rem;
  }
}

.line {
  flex-grow: 1;
  height: 1px;
  margin-left: 1.5rem;
  background: var(--black);
}
