$darkmode: #111111;
$lightmode: #f4f0f0;

$works: #aec2b4;
$about: #bdbd9e;
$contact: #c49797;

$platinum: #eaeae7;
$bone: #d1d1bc;
$aliceblue: #f0f8fc;
$gainsboro: #e0e0e0;
$copperrose: #a76262;

$breakpoints: (
  "xs": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
) !default;
