$black: #111111;
$white: #f4f0f0;

$works: #aec2b4;
$about: #bdbd9e;
$contact: #c49797;

$platinum: #eaeae7;
$bone: #d1d1bc;
$copperrose: #a76262;
$aliceblue: #f0f8fc;
$gainsboro: #e0e0e0;

$mistyrose: #e6d3d3;
$coolgrey: #8c97ad;
$cambridgeblue: #a0b8a8;
$keylime: #eded82;

$breakpoints: (
  "xs": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
) !default;
