@import "mixins";

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.links {
  display: flex;
  gap: 4rem;
  margin-top: 6rem;
}

.yesthisisdog {
  width: 268px;
  height: 198px;
  margin-top: 6rem;
  margin-bottom: 120px;
}
