@use "mixins";

.footer {
  --bodyBgColor: var(--black);
  --bodyColor: var(--white);
  padding: 12px 16px;
  background-color: var(--bodyBgColor);
}

.footerCredits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include mixins.media("sm") {
    flex-direction: row;
    gap: 2rem;
  }
}
