@use "mixins";

.footer {
  padding: 12px 16px;
}

.footerCredits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include mixins.media("sm") {
    flex-direction: row;
    gap: 2rem;
  }
}
