@import "mixins";
@import "reset";

@font-face {
  font-family: "Ogg";
  src: url("/fonts/OggMedium.woff2") format("woff2"),
    url("/fonts/OggMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ogg";
  src: url("/fonts/OggMediumItalic.woff2") format("woff2"),
    url("/fonts/OggMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ogg";
  src: url("/fonts/OggRegular.woff2") format("woff2"),
    url("/fonts/OggRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  @include font-size(18px);
  font-weight: 300;
  line-height: 1.75;
  background-color: $black;
  color: $platinum;
}

%display {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Ogg", serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.display-1 {
  @extend %display;
  @include font-size(150px);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
}

.display-2 {
  @extend %display;
  @include font-size(60px);
  font-weight: 500;
}

.display-3 {
  @extend %display;
  @include font-size(55px);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.display-4 {
  @extend %display;
  @include font-size(44px);
  font-weight: 400;
  letter-spacing: 0.03em;
}

.display-5 {
  @extend %display;
  @include font-size(35px);
  font-weight: 400;
  letter-spacing: 0.04em;
}

%heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
.h1 {
  @extend %heading;
  @include font-size(55px);
  font-weight: 300;
}

h2,
.h2 {
  @extend %heading;
  @include font-size(44px);
  letter-spacing: 0.03em;
}

h3,
.h3 {
  @extend %heading;
  @include font-size(35px);
}

h4,
.h4 {
  @extend %heading;
  @include font-size(28px);
  font-weight: 600;
}

h5,
.h5 {
  @extend %heading;
  @include font-size(22px);
  font-weight: 600;
  letter-spacing: 0.02em;
}

p,
.paragraph {
  margin-top: 0;
  margin-bottom: 18px;
  @include font-size(18px);
}

b,
strong,
.bold {
  font-weight: 500;
}

small,
.small {
  @include font-size(16px);
}

.caption {
  @include font-size(14px);
  letter-spacing: 0.02em;
}

a,
.link {
  color: $bone;
  text-decoration: underline;
  letter-spacing: 0.03em;
  transition: 0.3s font-weight;

  &:hover {
    font-weight: 700;
    transition: 0.3s font-weight;
  }
}

.text-platinum {
  color: $platinum;
}
.text-bone {
  color: $bone;
}
.text-copperrose {
  color: $copperrose;
}
.text-aliceblue {
  color: $aliceblue;
}
.text-gainsboro {
  color: $gainsboro;
}

.spacer-sm {
  padding-bottom: 3rem;
}

.spacer-lg {
  padding-bottom: 5rem;
}

// Single container class with breakpoint max-widths
.container,
// 100% wide container at all breakpoints
.container-fluid {
  @include make-container();
}

// Responsive containers that are 100% wide until a breakpoint
@each $breakpoint, $container-max-width in $container-max-widths {
  .container-#{$breakpoint} {
    @extend .container-fluid;
  }

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    %responsive-container-#{$breakpoint} {
      max-width: $container-max-width;
    }

    // Extend each breakpoint which is smaller or equal to the current breakpoint
    $extend-breakpoint: true;

    @each $name, $width in $grid-breakpoints {
      @if ($extend-breakpoint) {
        .container#{breakpoint-infix($name, $grid-breakpoints)} {
          @extend %responsive-container-#{$breakpoint};
        }

        // Once the current breakpoint is reached, stop extending
        @if ($breakpoint == $name) {
          $extend-breakpoint: false;
        }
      }
    }
  }
}

// Row
//
// Rows contain your columns.

.row {
  @include make-row();

  > * {
    @include make-col-ready();
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--rows, 1), 1fr);
  grid-template-columns: repeat(var(--columns, #{$grid-columns}), 1fr);
  gap: var(--gap, #{$grid-gutter-width});

  @include make-cssgrid();
}

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns();

.contact-cta {
  color: $white;
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: $copperrose;
    transition: 0.3s color;
  }
}

.contact-cta-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
