@import "mixins";
@import "reset";

:root {
  --black: #111111;
  --white: #f4f0f0;

  --works: #aec2b4;
  --about: #bdbd9e;
  --contact: #c49797;

  --platinum: #eaeae7;
  --bone: #d1d1bc;
  --copperrose: #a76262;
  --aliceblue: #f0f8fc;
  --gainsboro: #e0e0e0;

  --mistyrose: #e6d3d3;
  --coolgrey: #8c97ad;
  --cambridgeblue: #a0b8a8;
  --keylime: #eded82;
}

@font-face {
  font-family: "Ogg";
  src: url("/fonts/OggMedium.woff2") format("woff2"),
    url("/fonts/OggMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ogg";
  src: url("/fonts/OggMediumItalic.woff2") format("woff2"),
    url("/fonts/OggMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ogg";
  src: url("/fonts/OggRegular.woff2") format("woff2"),
    url("/fonts/OggRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*:focus-visible {
  outline-style: dashed;
  outline-color: var(--white);
  outline-width: 2px;
  outline-offset: 0.5rem;
}

body {
  font-family: "Inter", sans-serif;
  @include font-size(18px);
  font-weight: 300;
  line-height: 1.75;
  background-color: var(--black);
  color: var(--platinum);
  transition: 0.8s background-color;
}

%display {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Ogg", serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.display-1 {
  @extend %display;
  @include font-size(150px);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
}

.display-2 {
  @extend %display;
  @include font-size(60px);
  font-weight: 500;
}

.display-3 {
  @extend %display;
  @include font-size(55px);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.display-4 {
  @extend %display;
  @include font-size(44px);
  font-weight: 400;
  letter-spacing: 0.03em;
}

.display-5 {
  @extend %display;
  @include font-size(35px);
  font-weight: 400;
  letter-spacing: 0.04em;
}

%heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
.h1 {
  @extend %heading;
  @include font-size(55px);
  font-weight: 300;
}

h2,
.h2 {
  @extend %heading;
  @include font-size(44px);
  letter-spacing: 0.03em;
}

h3,
.h3 {
  @extend %heading;
  @include font-size(35px);
}

h4,
.h4 {
  @extend %heading;
  @include font-size(28px);
  font-weight: 600;
}

h5,
.h5 {
  @extend %heading;
  @include font-size(22px);
  font-weight: 600;
  letter-spacing: 0.02em;
}

p,
.paragraph {
  margin-top: 0;
  margin-bottom: 1.75rem;
  @include font-size(18px);
}

b,
strong,
.bold {
  font-weight: 500;
}

small,
.small {
  @include font-size(16px);
}

.caption {
  @include font-size(14px);
  letter-spacing: 0.02em;
}

a,
.link {
  color: var(--bone);
  text-decoration: underline;
  letter-spacing: 0.03em;
  border-radius: 0.25rem;
  transition: 0.3s font-weight;

  &:hover,
  &:focus {
    font-weight: 700;
    transition: 0.3s font-weight;
  }
}

ol,
ul {
  margin-bottom: 1.75rem;
  padding-left: 1.75rem;
}

li {
  margin-bottom: 0.5rem;
}

.text-works {
  color: var(--works);
}
.text-about {
  color: var(--about);
}
.text-contact {
  color: var(--contact);
}
.text-platinum {
  color: var(--platinum);
}
.text-bone {
  color: var(--bone);
}
.text-copperrose {
  color: var(--copperrose);
}
.text-aliceblue {
  color: var(--aliceblue);
}
.text-gainsboro {
  color: var(--gainsboro);
}

.spacer-sm {
  padding-bottom: 3rem;
}

.spacer-md {
  padding-bottom: 5rem;
}

.spacer-lg {
  padding-bottom: 10rem;
}

// Single container class with breakpoint max-widths
.container,
// 100% wide container at all breakpoints
.container-fluid {
  @include make-container();
}

// Responsive containers that are 100% wide until a breakpoint
@each $breakpoint, $container-max-width in $container-max-widths {
  .container-#{$breakpoint} {
    @extend .container-fluid;
  }

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    %responsive-container-#{$breakpoint} {
      max-width: $container-max-width;
    }

    // Extend each breakpoint which is smaller or equal to the current breakpoint
    $extend-breakpoint: true;

    @each $name, $width in $grid-breakpoints {
      @if ($extend-breakpoint) {
        .container#{breakpoint-infix($name, $grid-breakpoints)} {
          @extend %responsive-container-#{$breakpoint};
        }

        // Once the current breakpoint is reached, stop extending
        @if ($breakpoint == $name) {
          $extend-breakpoint: false;
        }
      }
    }
  }
}

// Row
//
// Rows contain your columns.

.row {
  @include make-row();

  > * {
    @include make-col-ready();
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--rows, 1), 1fr);
  grid-template-columns: repeat(var(--columns, #{$grid-columns}), 1fr);
  gap: var(--gap, #{$grid-gutter-width});

  @include make-cssgrid();
}

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns();

.contact-cta {
  color: var(--white);
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: var(--copperrose);
    transition: 0.3s color;
  }
}

.contact-cta-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slider {
  &:not(.slick-vertical) {
    .slick-track {
      display: flex !important;
      align-items: stretch !important;
    }
    .slick-slide {
      height: auto;

      & > div {
        height: 100%;
      }
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: all 0.5s ease-out;
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.image-modal-content {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 3rem;
  right: 3rem;
  border: 2px solid var(--works);
  background: var(--black);
  box-shadow: 0 0 1rem 0.5rem rgba(174, 194, 180, 0.2);
  overflow: auto;
  border-radius: 0;
  outline: none;
  padding: 0;
}
