@use "mixins";

.spacer {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: -0.5rem;

  @include mixins.media("sm") {
    display: none;
  }
}

.nav {
  --bodyBgColor: var(--black);
  --bodyColor: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bodyBgColor);
  z-index: 900;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @include mixins.media("sm") {
    padding: 1rem;
  }
}

.stars {
  --starsResetColor: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  @include mixins.media("sm") {
    padding: 1 0rem;
  }

  @include mixins.media("xl") {
    display: flex;
  }

  & > div {
    height: 24px;
  }
}

.menu {
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1rem;

  @include mixins.media("sm") {
    padding: 1rem;
  }
}
