@use "mixins";

.section {
  margin: 0 auto;

  @media (min-width: 992px) {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    scroll-snap-align: center;

    & > :global(.container) {
      height: 100%;
      display: flex;
      align-items: center;
    }

    :global(.row) {
      width: 100%;
    }

    :global(.spacer-lg),
    :global(.spacer-xl) {
      height: 0;
    }
  }
}

.about .image {
  width: 100%;
}

.about p,
.about li {
  font-size: 14px;
}

.sectionTitle {
  margin: 0;
}

.link {
  display: block;
  padding: 12px;
  border-radius: 0px;
  border-bottom: 1px dashed transparent;
  color: var(--bodyColor);
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom-color: var(--linkHoverColor);
    color: var(--bodyColor);
    text-decoration: none;
    transition: 0.3s border-bottom;
  }

  &:active {
    border-bottom-style: solid;
  }
}

.caseStudies {
  text-align: right;

  @include mixins.media("lg") {
    text-align: left;
  }
}
