@use "mixins";

.section {
  margin: 2rem auto;
}
@include mixins.media("sm") {
  .section {
    margin: 3rem auto;
  }
}
@include mixins.media("md") {
  .section {
    margin: 4rem auto;
  }
}
@include mixins.media("lg") {
  .section {
    margin: 5rem auto;
  }
}
@include mixins.media("xl") {
  .section {
    margin: 6rem auto;
  }
}
@include mixins.media("xxl") {
  .section {
    margin: 7rem auto;
  }
}

.invisible::selection {
  color: #333332;
  background-color: var(--black);
}

.kopi {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.aboutBody {
  padding-top: 2rem;
}
@include mixins.media("md") {
  .aboutBody {
    padding-top: 3rem;
  }
}
@include mixins.media("lg") {
  .aboutBody {
    padding-top: 0rem;
    padding-left: 3rem;
  }
}
@include mixins.media("xl") {
  .aboutBody {
    padding-left: 4rem;
  }
}
@include mixins.media("xxl") {
  .aboutBody {
    padding-left: 5rem;
  }
}
