@use "mixins";

.impact {
  max-width: 912px;

  @include mixins.media("xxl") {
    max-width: 1000px;
  }

  @include mixins.media("max") {
    max-width: 1300px;
  }
}

.impactItem {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
