@use "mixins";

.container {
  --bodyBgColor: var(--white);
  --bodyColor: var(--black);
  --linkHoverColor: #7a7a7a;
  --mobileMenuBgColor: var(--trueblack);
  --mobileMenuColor: var(--white);
  --starsResetColor: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bodyBgColor);
  color: var(--bodyColor);
  transition:
    0.8s background-color,
    0.8s color;

  &.darkMode {
    --bodyBgColor: var(--trueblack);
    --bodyColor: var(--white);
    --starsResetColor: var(--white);
  }
}
