@import "mixins";

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  margin-right: -0.5rem;
  padding: 22px;
  cursor: pointer;
  z-index: 999;

  &.menuOpen {
    padding: 1rem;
  }

  .menuButton_line {
    width: 100%;
    height: 1px;
    background: var(--black);
    margin-bottom: 6px;
    transition: 0.3s all;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menuOpen {
  .menuButton_line {
    background: var(--white);
    margin-bottom: 0;
    margin-top: -1px;
    transition: 0.3s all;
  }
}

.drawer {
  position: fixed;
  inset: 0;
  background: var(--trueblack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity;

  @include media("sm") {
    display: none;
  }
}

.drawerOpen {
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s opacity;
}

.blob {
  position: fixed;
  inset: -13rem -10rem -7rem -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0.875rem 1rem;
}

.menuItemGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.menuItem {
  display: flex;
  justify-content: center;
  color: var(--white);

  &:last-child {
    margin-bottom: 0;
  }
}
