.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title,
.titleMobile {
  font-size: 1rem;
}

.title {
  display: none;
  width: 100%;
  max-width: 65%;
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    display: block;
  }
}

.titleMobile {
  display: block;
  order: 1;
  margin: 0.5rem 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.castleryLayout,
.stdstaLayout {
  --wireframe-color: var(--black);
  --wireframe-stroke: var(--black);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
  }
}

.svg {
  order: 1;
  width: 100%;

  @media (min-width: 768px) {
    order: 2;
    width: 55%;
  }
}

.left,
.right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: stretch;

  @media (min-width: 768px) {
    flex: 1;
  }
}

.left {
  order: 2;

  @media (min-width: 768px) {
    order: 1;
  }
}

.right {
  order: 3;
}

.linkAnchor {
  border-bottom: 1px solid var(--black);
  transition: 0.3s border-color;

  &:hover,
  &:focus {
    border-color: var(--rosetaupe);
  }

  @media (min-width: 768px) {
    position: absolute;
    left: 0px;
    right: 0px;
  }

  @media (min-width: 1800px) {
    border-bottom-width: 1.5px;
  }

  &.align-left {
    text-align: left;
  }

  &.align-right {
    text-align: left;

    @media (min-width: 768px) {
      text-align: right;
    }
  }
}

.link {
  display: block;
  padding-bottom: 4px;
  border-radius: 0px;
  color: var(--black);
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: var(--rosetaupe);
    font-weight: 600;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.castleryLayout:has(.link-fortress-design-system a:hover),
.castleryLayout:has(.link-fortress-design-system a:focus) {
  :global(g#nav),
  :global(g#content > rect),
  :global(g#image > rect),
  :global(g#item),
  :global(g#item_2),
  :global(g#item_3),
  :global(g#item_4),
  :global(g#item_5),
  :global(g#item_6),
  :global(g#item_7),
  :global(g#cta) {
    --wireframe-color: var(--rosetaupe);
  }
}

.castleryLayout:has(.link-responsive-design a:hover),
.castleryLayout:has(.link-responsive-design a:focus) {
  :global(g#content > rect),
  :global(g#image > rect),
  :global(g#cta > rect) {
    --wireframe-color: var(--rosetaupe);
  }
}

.castleryLayout:has(.link-self-authored-content a:hover),
.castleryLayout:has(.link-self-authored-content a:focus) {
  :global(g#content > rect),
  :global(g#product),
  :global(g#model),
  :global(g#material),
  :global(g#cta),
  :global(g#image_2 > rect) {
    --wireframe-color: var(--rosetaupe);
  }
}

.castleryLayout:has(.link-room-designer a:hover),
.castleryLayout:has(.link-room-designer a:focus) {
  :global(g[id="room builder"]) {
    --wireframe-color: var(--rosetaupe);
  }
}

.stdstaLayout:has(.link-integrated-map a:hover),
.stdstaLayout:has(.link-integrated-map a:focus) {
  :global(g[id="map icon"] > rect),
  :global(g[id="map icon_2"] > rect),
  :global(g#item_5),
  :global(g#item_6),
  :global(g#item_7),
  :global(g#item_8),
  :global(g#item_9),
  :global(g#item_15),
  :global(g#item_16),
  :global(g#menu) {
    --wireframe-fill: var(--rosetaupe);
    --wireframe-stroke: var(--rosetaupe);
  }
  :global(g#map path#map_2),
  :global(g#visibility),
  :global(g#add),
  :global(g#remove),
  :global(g#straighten),
  :global(g#explore),
  :global(g#home),
  :global(g#search),
  :global(g#item_10),
  :global(g#item_11),
  :global(g#item_12),
  :global(g#item_13),
  :global(g#item_14),
  :global(g#item_17),
  :global(g#stacks) {
    --wireframe-color: var(--white);
  }
  :global(g#content > rect),
  :global(g#fmd_bad),
  :global(g#fmd_bad_3),
  :global(g#fmd_bad_5) {
    --wireframe-color: var(--rosetaupe);
  }
}

.stdstaLayout:has(.link-project-design-system a:hover),
.stdstaLayout:has(.link-project-design-system a:focus) {
  :global(g[id="map icon"] > rect),
  :global(g[id="map icon_2"] > rect),
  :global(g[id="settings icon"] > rect),
  :global(g#item_5),
  :global(g#item_6),
  :global(g#item_7),
  :global(g#item_8),
  :global(g#item_9),
  :global(g#item_15),
  :global(g#item_16),
  :global(g#menu) {
    --wireframe-stroke: var(--rosetaupe);
  }
  :global(g[id="primary nav"] > rect),
  :global(g#content > rect),
  :global(g#map path#map_2),
  :global(g#settings),
  :global(g#visibility),
  :global(g#add),
  :global(g#remove),
  :global(g#straighten),
  :global(g#explore),
  :global(g#home),
  :global(g#search),
  :global(g#item),
  :global(g#item_2),
  :global(g#item_3),
  :global(g#item_4),
  :global(g#item_10),
  :global(g#item_11),
  :global(g#item_12),
  :global(g#item_13),
  :global(g#item_14),
  :global(g#item_17),
  :global(g#stacks) {
    --wireframe-color: var(--rosetaupe);
  }
}

.stdstaLayout:has(.link-access-control a:hover),
.stdstaLayout:has(.link-access-control a:focus) {
  :global(g[id="settings icon"] > rect) {
    --wireframe-fill: var(--rosetaupe);
    --wireframe-stroke: var(--rosetaupe);
  }
  :global(g#settings) {
    --wireframe-color: var(--white);
  }
}
