@use "mixins";

.arrowLink {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.nextArrow,
.prevArrow {
  width: 48px;
  padding: 8px;
  flex-shrink: 0;
}

.nextArrow {
  transform: rotate(180deg);
}
