@import "mixins";

.link {
  color: $platinum;
  text-decoration: none;
  transition: 0.3s color;

  &:hover,
  &:focus {
    font-weight: 300;
    color: $works;
    transition: 0.3s color;
  }
}

.imagesContainer {
  position: sticky;
  top: 100px;
  width: 100%;
  height: calc(100vh - 200px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: fadeIn;
  animation-duration: 800ms;
}
